doctype html
html
    head
        title= title
        link(rel='stylesheet' type='text/css' href='/stylesheets/main.css')/
    body
        .container
            .wrapper
                nav
                    ul
                        li
                            a(href='/contacts') Contacts
                        li
                            a(href='/users') Users
                block content
        block scripts
